<h1> Form To Edit a Task </h1>


<%= form_for @task do |f| %>
  <%= f.label :name, "Task Name" %>
  <%= f.text_field :name %>

  <%= f.label :description, "Task Description" %>
  <%= f.text_field :description %>

  <%= f.label :completion_status, "Completed?" %>
  <%= f.check_box :completion_status %>


  <%# f.label :completion_date %>
  <%# f.date_field :completion_date %>

  <%= f.submit "Submit"%>
<% end %>
