<h1>Task Overview</h1>
<h2> <%= @single_task.name %> </h2>
<p> The data that should be displayed:
<p>  Task Name: <%= @single_task.name %> </p>
<p>  Description: <%= @single_task.description %> </p>
<p>  Completion Status: <%= @single_task.completion_status %> </p>
<p>  Completion Date: <%= @single_task.completion_date %> </p>
</p>




<br><%= link_to "return to complete task list", root_path %>
